.container {
  padding: o 1rem;
}

.btn {
  display: inline-block;
  border: none;
  background: #555;
  opacity: 0.5;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}
.btn:hover {
  background: #666;
}
.checked {
  border: 2px;
}
